/* app global css */
#chessboard {
  cursor: pointer;
  width: 690px;
  height: 690px;
  margin: 0px;
  padding: 0px;
  border: 25px solid #333;
}
.black {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 80px;
  height: 80px;
  background-color: #999;
  font-size: 45px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.white {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 80px;
  height: 80px;
  background-color: #fff;
  font-size: 45px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.selectedPiece {
  color: #1976d2;
}
